@import "src/assets/colors";

.forgotPassword {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $secondary;
  padding-top: 16px;
  cursor: pointer;
}
.darkForgotPassword {
  color: $white;
}
.singUp {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $gray;
  display: flex;
  justify-content: center;
  padding: 24px 0 40px;
}
.darkSingUp {
  color: $medium;
}
.navLink {
  margin-left: 4px;
  text-decoration: none;
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}
.darkNavLink {
  color: $primary-secondary;
}
